allitems.xml filter=lfs diff=lfs merge=lfs -text
nvdcve-2019.xml filter=lfs diff=lfs merge=lfs -text
official-cpe-dictionary_v2.3.xml filter=lfs diff=lfs merge=lfs -text
*.rdf filter=lfs diff=lfs merge=lfs -text
*.ttl filter=lfs diff=lfs merge=lfs -text
